<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Database Tables Index</title>
        <link rel='stylesheet' type='text/css' media='screen'
            href='./css/main.css'>
    </head>
    <body>
        <!-- Global Navigation -->
        <nav>
            <a href="/">Home</a>
            <a href="/physicians">Physicians</a>
            <a href="/patients">Patients</a>
            <a href="/hospitals">Hospitals</a>
            <a href="/specialties">Specialties</a>
            <a href="/procedures">Procedures</a>
            <a href="/visits">Visits</a>
        </nav>

        {{{body}}}

</body>
</html>